[submodule "com.redisgeek.function.acre.export"]
	path = com.redisgeek.function.acre.export
	url = git@github.com:redisgeek/com.redisgeek.function.acre.export
        branch = main
        ignore = dirty
[submodule "com.redisgeek.function.azure.storage.copy"]
	path = com.redisgeek.function.azure.storage.copy
	url = git@github.com:redisgeek/com.redisgeek.function.azure.storage.copy.git
